body {
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    font-size: 21px;
    margin: 0;
    padding: 0; 
  }
  .content {
    width: 570px;
    margin: 0 auto;
  }
  .part {
              padding: 100px 0; 
              width: 100%; 
              box-sizing: border-box;
          }
          .header {
              background-color: #252525;
          }
          .about-me {
              background-color: rgb(206, 206, 206); 
          }
          .articles {
              background-color: #252525; 
          }
  h1 {
              font-size: 80px; 
              font-weight: 900; 
              line-height: 1.2; 

            }
          h2 {
              font-size: 60px; 
              font-weight: 900; 
              line-height: 1.2; 
          }
          a {
              color: #99D930; 
              text-decoration: none; 
              transition: color 0.3s; 
          }
          a:hover {
              color: #131313; 
          }
          h3 {
              font-size: 30px; 
              font-weight: 900; 
              color: white;
          }
          .small {
              font-size: 16px; 
              color: #99D930;
          }
          img{
        
            width: 200px; 
            height: 200px;
            border-radius: 50%;
          }
          .b1{
            background-color: #99D930; 
              text-decoration: none; 
              color: #131313;
              transition: color 0.3s; 
          }
          .b1:hover:hover {
            color:white; 
            background-color:#131313 ;
        }